<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Edit Foods</h1>

  <form method="POST" action="/weirdFoods/<%=weirdFood.id%>?_method=PUT">

    Name: <input type="text" name="name" value="<%= weirdFood.name%>">
    Country of Origin: <input type="text" name="color" value="<%= fruit.countryOfOrigin%>">
    Description: <input type="text" name="color" value="<%= fruit.description%>">
    Is it legal in the US: <input type="checkbox" name="legal" 
      <% if(fruit.legal === true){%>
        checked
      <% } %>
      />
      <br/>

      <input type="submit" value="Submit Changes"/>
  </form>

</body>
</html>