<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>New Weird Food</h1>

  <form action="/weirdFoods" method="POST">
      Name:<input type="text" name="name"> <br>
      Country of Origin:<input type="text" name="countryOfOrigin"><br>
      Description:<input type="text" name="description"><br>
      Is it legal in the US:<input type="checkbox" name="legal"><br>
      <input type="submit">
    </form>

</body>
</html>