<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Weird Foods Show Page</h1>

  <h3>Food Name: <%= weirdFood.name%></h3>
  <h4>Country of Origin: <%= fruit.countryOfOrigin%></h4>
  <h4>Description: <%= weirdFood.description%>

  <h2>
    <% if(weirdFood.legal === true) { %>
        <span>It is legal in the US</span>
    <% } else { %>
        <span>It is not legal in the US</span>
    <% } %>
  </h2>

    <a href="/weirdFoods">go back</a>

</body>
</html>